.fle{font-family:"Lucida Grande","Lucida Sans Unicode","sans-serif";font-size:100%;line-height:115%;clear:both}
.fle div{margin-bottom:1em;clear:both}
.fle div:before{content:"\021E8\020"}
.a4p+div{padding-top:1em;margin-bottom:1ex;clear:both}
.a4p{display:inline-block;width:200px;float:left;color:#084;margin:0.2em;padding:0}
.ykc:before{content:"|";font-weight:normal;font-size:90%}
b.bdt:before, em.t1u:before{content:"\0B4"}
em.t1u{font-style:normal}
